[submodule "buildroot"]
	path = buildroot
	url = git@github.com:wanguo99/buildroot.git
[submodule "br2-external"]
	path = br2-external
	url = git@github.com:wanguo99/br2-external.git
[submodule "lpf"]
	path = lpf
	url = git@github.com:wanguo99/lpf.git
[submodule "uboot-2024.10"]
	path = uboot-2024.10
	url = git@github.com:wanguo99/uboot-2024.10.git
[submodule "linux-7.0"]
	path = linux-7.0
	url = git@github.com:wanguo99/linux-7.0.git
