[submodule "buildroot"]
	path = buildroot
	url = git@github.com:linux-bsp/buildroot.git
	branch = master
[submodule "br2-external"]
	path = br2-external
	url = git@github.com:linux-bsp/br2-external.git
	branch = master
[submodule "lpf"]
	path = lpf
	url = git@github.com:linux-bsp/lpf.git
	branch = master
[submodule "uboot-2024.10"]
	path = uboot/uboot-2024.10
	url = git@github.com:linux-bsp/uboot-2024.10.git
	branch = master
[submodule "linux-7.0"]
	path = linux/linux-7.0
	url = git@github.com:linux-bsp/linux-7.0.git
	branch = master
[submodule "linux/ti-linux-kernel-6.18.13"]
	path = linux/ti-linux-kernel-6.18.13
	url = git@github.com:linux-bsp/ti-linux-kernel-6.18.13.git
	branch = master
[submodule "uboot/ti-u-boot-2025.10"]
	path = uboot/ti-u-boot-2025.10
	url = git@github.com:linux-bsp/ti-u-boot-2025.10.git
	branch = master
